PLAYWRIGHT_BROWSERS_PATH=/home/tanny/.local/share/moewalls-cli/playwright-browsers
PLAYWRIGHT_CHROMIUM_EXECUTABLE_PATH=
PLAYWRIGHT_SKIP_VALIDATE_HOST_REQUIREMENTS=true
MOEWALLS_BASE_URL=https://moewalls.com/
MOEWALLS_SCRAPER_MAX_RETRIES=3
MOEWALLS_SCRAPER_RETRY_DELAY_MS=1000
MOEWALLS_PREVIEW_PROTOCOL=
